home {
    #home {
        min-height: 40%;
    }
    .md-row {
        height: 30px!important;
    }
    .md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2),
    .md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
        padding: 0px 0px 0px 0px!important;
    }
    table:not(.md-row-select) th.md-column:first-child {
        padding: 0px 0px!important;
    }
    table.md-table:not(.md-row-select) td.md-cell:first-child,
    table.md-table:not(.md-row-select) th.md-column:first-child {
        padding: 0px 0px!important;
    }
    #chartdiv {
        width: 100%;
        height: 100%;
    }
    content {
        min-height: 40%;
    }
    .card {
        display: flex;
        background-color: yellowgreen;
        min-width: 100%;
        min-height: 200px;
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .card--content {
        background-color: #e74c3c;
        min-width: 200px;
        margin: 5px;
    }
}