<md-toolbar role="toolbar">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" toggle-sidenav aria-label="Menu">
            <md-icon>menu</md-icon>
        </md-button>
        <h4 class="md-title">Task</h4>
        <span flex></span>
        <md-button ng-click="viewTask = !viewTask" class="md-icon-button">
            <md-icon>add_circle</md-icon>
        </md-button>
        <!--         <md-button class="md-icon-button" ng-click="getTask()">
            <md-icon>refresh</md-icon>
        </md-button>
         -->
        <md-datepicker class="dtontoolbr" ng-change="datechange()" ng-model="todaysDate" md-date-filter="onlyMonday" md-placeholder="Enter date"></md-datepicker>
        <!--    <a id="download_file" class="ng-hide" href="https://saintgobain.service-now.com/time_card_list.do?&CSV&sysparm_query=week_starts_on=2017-02-13" download>
        </a>
 -->
        <md-button ng-href="{{durl}}" target="_blank">
            <md-icon>file_download</md-icon>
        </md-button>
        <input type="file" id="upload_file" ngf-select="uploadFile($files)" class="ng-hide" name="file">
        <label for="upload_file" class="md-button">
            <md-icon>file_upload</md-icon>
        </label>
    </div>
    </div>
</md-toolbar>
<section id="upLoad">
</section>
<section id="adduser" class="slide-toggle" ng-show="viewTask" role="content" layout="column" layout-padding md-scroll-y>
    <md-content class="md-whiteframe-z2" ng-cloak>
        <form name="taskDetails" ng-submit="addTask()">
            <div layout="row" layout-fill style="border-bottom: 3px solid grey; margin-bottom: 20px;">
                <md-icon style="padding-right:10px"> work </md-icon>
                <h2 class="md-headline" flex> Add Task </h2>
            </div>
            <div layout="row" layout-fill>
                <md-input-container class="md-icon-float md-block" flex="50">
                    <label>Type</label>
                    <md-select ng-model="task.Task_Type" name="tasktype" required>
                        <!--  <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                {{state.abbrev}}
                              </md-option> -->
                        <md-option value="Meeting">
                            Meeting
                        </md-option>
                        <md-option value="Coding">
                            Coding
                        </md-option>
                        <md-option value="Learning">
                            Learning
                        </md-option>
                        <md-option value="Testing">
                            Testing
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-icon-float md-block" flex="50">
                    <label>Project</label>
                    <md-select ng-model="task.PRID" name="prid" required>
                        <md-option ng-repeat="project in projects" value="{{project.PRID}}">
                            {{project.Project_Name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="taskDetails.PRID.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block" flex="50">
                    <label>Ticket No</label>
                    <input ng-model="task.Ticket_No" name="ticketno" type="text">
                </md-input-container>
            </div>
            <div layout="row" layout-fill>
                <md-input-container class="md-icon-float md-block" flex="30">
                    <label>Status</label>
                    <input ng-model="task.Status" name="status" type="text" required>
                    <div ng-messages="taskDetails.status.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block" flex="30">
                    <label>Week No</label>
                    <md-select ng-model="task.WEEKNO" name="weekno" required>
                        <md-option ng-repeat="i in getWeeks(weeks) track by $index" value="{{$index+1}}">{{$index+1}}</md-option>
                    </md-select>
                    <div ng-messages="taskDetails.weekno.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <div layout="row" layout-fill flex="40">
                    <md-input-container class="md-icon-float md-icon-right md-block" required>
                        <label>Efforts Spent</label>
                        <input ng-model="task.Efforts_Spent" name="effortsspent" type="number" required step="0.25">
                    </md-input-container>
                    <md-input-container class="md-icon-float md-icon-right md-block">
                        <label>Efforts Remaining</label>
                        <input ng-model="task.Efforts_Remaining" name="effortsremaining" type="number" step="0.25">
                    </md-input-container>
                </div>
            </div>
            <div layout="row" layout-fill>
                <md-input-container class="md-icon-float md-block" flex>
                    <label>Details</label>
                    <textarea ng-model="task.Details" name="details" required md-maxlength="150" rows="1" md-select-on-focus></textarea>
                    <div ng-messages="taskDetails.details.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" layout-fill>
                <md-input-container class="md-icon-float md-block" flex>
                    <label>Comments</label>
                    <textarea ng-model="task.Comments" name="comments" md-maxlength="150" rows="1" md-select-on-focus></textarea>
                </md-input-container>
            </div>
            <div layout="row" layout-fill>
                <span flex></span>
                <md-button class="md-raised md-primary" ng-disabled="taskDetails.$invalid" type="submit">Submit</md-button>
                <md-button class="md-raised md-primary" ng-click="viewTask = !viewTask">Cancel</md-button>
            </div>
        </form>
    </md-content>
</section>
<section id="task" role="content" layout="column" layout-padding md-scroll-y>
    <md-content class="md-whiteframe-z2" ng-cloak>
        <div layout="row" layout-fill>
            <div flex class="filter" layout="row" layout-align="start center">
                <md-input-container flex="40" layout="row" class="md-block">
                    <label>User</label>
                    <md-select ng-model="filter.User" name="LastName">
                        <md-option ng-repeat="usr in users" value="{{usr.LastName}} {{usr.FirstName.toUpperCase()}}">
                            {{usr.LastName}} {{usr.FirstName.toUpperCase()}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-datepicker ng-model="filterDate" md-date-filter="onlyMonday" md-placeholder="Enter date">
                </md-datepicker>
                <md-button class="md-icon-button" ng-click="getTask()">
                    <md-icon md-menu-origin>refresh</md-icon>
                </md-button>
            </div>
            <div flex class="action" layout="row" layout-align="end center">
                <!--  <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
                    <span flex></span> -->
                <md-button class="md-icon-button" ng-click="edit($event)" ng-show="selected.length && selected.length<=1">
                    <md-icon>edit</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="delete($event)" ng-show="selected.length">
                    <md-icon>delete</md-icon>
                </md-button>
            </div>
        </div>
        <md-table-container>
            <table md-row-select md-table multiple ng-model="selected" md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="getTask">
                    <tr md-row>
                        <!-- <th md-column md-order-by="nameToLower"><span>Dessert (100g serving)</span></th> -->
                        <!-- <th md-column md-numeric md-order-by="calories.value"><span>Calories</span></th> -->
                        <th md-column>User</th>
                        <th md-column>Task</th>
                        <th md-column>Category</th>
                        <th md-column>State</th>
                        <th md-column md-numeric>Efforts </th>
                        <th md-column>Week Starts On </th>
                        <!-- <th md-column md-numeric>Iron (%)</th> -->
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="tsk" md-select-id="name" md-auto-select ng-repeat="tsk in tasks">
                        <td md-cell>{{tsk.User}}</td>
                        <td md-cell>{{tsk.Task_Id}}</td>
                        <td md-cell>{{tsk.Category}}</td>
                        <td md-cell>{{tsk.State}}</td>
                        <td md-cell>{{tsk.Efforts}}</td>
                        <td md-cell>{{tsk.weekstartson}}</td>
                        <!-- <td md-cell>{{dessert.protein.value | number: 1}}</td> -->
                        <!-- <td md-cell>{{dessert.sodium.value}}</td> -->
                        <!-- <td md-cell>{{dessert.calcium.value}}{{dessert.calcium.unit}}</td> -->
                        <!-- <td md-cell>{{dessert.iron.value}}{{dessert.iron.unit}}</td> -->
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-content>
    <!--  <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{users.length}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination> -->
</section>